<section class="list-app">
  <section class="input"  (keyup.enter)="addListItem()">
    <div class="content">
      <div class="description">
        <h1>Ivy Lee Task List</h1>
      </div>
      <input placeholder="Type task name..." [(ngModel)]="newListItem.title">
      <textarea placeholder="Type task description..." [(ngModel)]="newListItem.description"></textarea>
    </div>
  </section>
  <section class="list" *ngIf="listItems.length > 0">
    <div class="content">
      <ul>
        <li *ngFor="let listItem of listItems" [class.completed]="listItem.completed">
          <h4>{{listItem.order}} - {{listItem.id}} {{listItem.title}} <small>{{listItem.added_date | date : "d.M.y H:m"}}</small></h4>
          <div>{{listItem.description}}</div>
          <div class="actions">
            <span class="grab"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></span>
            <span (click)="toggleListItemCompleted(listItem)">
              <i class="fa" [class.fa-check]="!listItem.completed" [class.fa-times]="listItem.completed" aria-hidden="true"></i>
            </span>
            <span (click)="toggleListItemDeleted(listItem)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
<router-outlet></router-outlet>
