@import "../../variables";

section {
    &.input {
        background: $header-bg;
        .content {
            padding-top: 0;
            border-bottom: 1px solid darken($tasks-bg, 15%);
        }
    }
}

.form {
    > textarea,
    > input,
    > button {
        border: none;
        background: $input-bg;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.5em 1em;
        transition: all 0.3s ease;
        color: $input-color;
        &:focus {
            background: darken($input-bg, 15);
            // border-color: darken($input-border, 15);
            outline: none;
            box-shadow: none;
        }
    }
    > textarea,
    > input {
        width: 100%;
    }
    > textarea {
        min-height: 6em;
    }

}


.navigation {
    text-align: center;
    margin: 0 0 1em 0;
    position: relative;
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
    .current {
        color: darken($tasks-bg, 15);
        font-size: 1.5em;
    }
    .buttons {
        padding: 0.5em 0 0;
        > a {
            text-decoration: none;
            background: $tasks-bg;
            display: inline-block;
            color: #fff;
            transition: all 0.3s ease;
            padding: 0.3em 0.6em;
            &:hover {
                background: darken($tasks-bg, 5);
            }
        }
    }
    .previous {
        float: left;
    }
    .next {
        float: right;
    }
}

@media(min-width: $desktop-width) {
    .navigation {
        .buttons {
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

}