$body-color: #A2B09A;
$main-color: #AB936B;
$text-color: #998E7D;

$input-border: #AB936B;
$input-bg: #AB936B;
$input-color: #fafafa;
$tasks-bg: #AB936B;
$task-border: #AB936B;
$task-color: #f0f0f0;
$gray-main: #bbb;
$task-complete-bg: #59a559;

$desktop-width: 600px;
