
$main-color: rgb(100%, 51.3%, 5%);
$text-color: darken(desaturate($main-color, 75%), 35%);
$tasks-bg: lighten(desaturate($main-color, 75%), 45%);
$gray-main: rgb(73.4%, 73.4%, 73.4%);


* {
    box-sizing: border-box;
}

body {
    color: $text-color;
}

h4 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
    small {
        font-size: 0.7em;
        color: lighten($text-color, 15%);
    }
}

.list-app {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
    textarea, 
    input {
        width: 100%;
        border: 1px solid $main-color;
        background: #fff;
        border-radius: 2px;
        margin-bottom: 1em;
        padding: 0.5em 1em;
        &:focus {
            border-color: darken $main-color;
            outline: none; 
            box-shadow: none;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0.3em 0;
            background: $tasks-bg;
            border-bottom: 3px solid darken($tasks-bg, 10);
            border-radius: 4px;
            padding: 1em 1em; 
        }
    }
 
} 