$body-color: #A2B09A;
$main-color: #AB936B;

$input-border: #AB936B;
$input-bg: #AB936B;
$input-color: #fafafa;

$text-color: #998E7D;
$tasks-bg: #AB936B;
$task-border: #AB936B;
$task-color: #f0f0f0;
$gray-main: #bbb;

$task-complete-bg: #00ff00;

* {
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    color: $text-color;
    font-family: "Ubuntu", // Safari for OS X and iOS (San Francisco)
    -apple-system, // Chrome for OS X (San Francisco)
    BlinkMacSystemFont, // Windows
    "Segoe UI", // Android
    "Roboto", // Linux
    "Oxygen", // KDE
    "Ubuntu", "Cantarell", // GNOME
    "Fira Sans", // Older Android
    "Droid Sans", // Basic web fallback
    "Helvetica Neue", Arial, sans-serif;
}

h4 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
    small {
        font-size: 0.7em;
        color: lighten($text-color, 15%);
    }
}

.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
}

section {
    &.input {
        background: #fff;
    }
}

textarea,
input {
    width: 100%;
    border: none;
    background: $input-bg;
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.5em 1em;
    transition: all 0.3s ease; 
    color: $input-color;
    &:focus {
        background: darken($input-bg, 15);
        // border-color: darken($input-border, 15);
        outline: none;
        box-shadow: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        color: $task-color;
        margin: 0 0 1em;
        background: $tasks-bg;
        // border-bottom: 3px solid darken($tasks-bg, 10);
        border-radius: 4px;
        padding: 1em 1em;
        transition: all 0.3s ease;
        &.completed {
            background: $task-complete-bg;
        }
    }
}

.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}
